.p-pp-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1.pp-lv1-heading {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

h2.pp-lv2-heading {
    font-size: 2.2rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

ul.pp-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

ul.pp-list li.pp-item {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
}

dt {
    grid-column: 1;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

dd {
    grid-column: 2;
    margin-inline-start: 0px;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

section {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .p-pp-wrapper {
        padding: 20px;
    }

    h1.pp-lv1-heading {
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    h2.pp-lv2-heading {
        font-size: 1.8rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    ul.pp-list li.pp-item {
        font-size: 1.2rem;
    }

    dl {
        margin-bottom: 20px;
    }

    dt,
    dd {
        font-size: 1.2rem;
        margin-bottom: 3px;
    }

    section {
        margin-bottom: 30px;
    }
}
